*:focus {
  outline: none;
}

.todo__form {
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 104, 104);
  border: 3px ridge black;
}

.todo__form__button {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.todo__form__button:hover {
  background: linear-gradient(to right, #4196ac, #b2f1ff);
}

.todo__form__delete {
  background: linear-gradient(to right, #ed213a, #93291e);
  margin-left: 1em;
}

.todo__form__delete:hover {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.todo__list__cards {
  flex-wrap: wrap;
  flex-direction: row;
}

.todo__card__done {
  justify-content: space-between;
  opacity: .5;
  background-color: lightgray;
  color: black;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.todo__card__done:hover {
  opacity: 1;
}

.todo__list__cards,
.todo__form,
.todo__card__done {
  display: flex;
}

.todo__card__task {
  background-color: #fbe4c5;
  color: black;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.todo__form__button,
.todo__form__delete {
  color: white;
}

.todo__card__task:hover,
.todo__card__done:hover {
  border: 1px solid black;
  cursor: pointer;
}

.todo__form__input,
.todo__form__delete,
.todo__form__button {
  height: 3em;
  border: 1px solid black;
}

.todo__card__done,
.todo__card__task {
  list-style-type: none;
  font-size: 20px;
  height: 200px;
  width: 200px;
  margin: 1em;
}

